
// Small devices (landscape phones, 576px and up)
@media (min-width : 576px)
  /**/

// Medium devices (tablets, 768px and up)
@media (min-width : 769px)
  .main_header
    display: none
  .sign_up
    li
      max-width: 30%

// Large devices (desktops, 992px and up)
@media (min-width : 992px)
  /**/

// Extra large devices (large desktops, 1200px and up)
@media (min-width : 1200px)
  /**/
// Large devices (desktops, less than 1200px)
@media (max-width : 1199.98px)
  /**/

// Medium devices (tablets, less than 992px)
@media (max-width : 991.98px)
  /**/  
@media (max-width : 768px)
  .sidebar
    display: none
  .login_confirm
    max-width: 520px
  #diagram
    //margin-top: -10vh
    //margin-bottom: -28vh
  .circle_diagram
    position: relative
    top: auto
    left: auto
    transform: none
    width: auto
    height: auto
    box-shadow: none
    background: none
    border: none
    p
      padding-top: 0
  .coins_wrap
    margin-top: -100px
  .view-section
    width: 100%
    // height: 100vh

  // .sidebar
  //   width: 100px
  //   .copyright
  //     padding-left: 16px
  //     p:nth-child(2)
  //       padding-right: 25px
  //   .nav-link.active
  //     color: transparent
  //   .logo
  //     width: 85px
  //   .main-menu
  //     a

  //       padding: 15px
  //       padding-left: 27px
  //       color: transparent
  //       i
  //         color: #fff
  .diagram_wrap
    //display: none
  //.circle_diagram
  //  display: none
  .user_menu

  .coin
    margin-bottom: 25px
    flex: 0 0 45%
  #v-pills-home
    img
      margin-top: 3vh
      width: 70%
      height: auto
    h1
      margin: 7%
    p
      padding: 15px
    button
      margin-top: 25px
// Extra small devices (portrait phones, less than 576px)
@media (max-width : 575.98px)
  .sign_up
    ul
      flex-direction: column
      align-items: flex-start
      padding-bottom: 5px
      li
        margin: 10px

  #diagram
    margin-top: -45px
    margin-bottom: -100px

  .sign_up_autentificator.login_confirm
    padding: 0 15px
@media (max-width : 395.98px)
  .sign_up_confirmation_email_button
    width: 100% !important
    max-width: 100% !important
  header
    padding-top: 0
  #diagram
    margin-top: -75px
    margin-bottom: -195px
  .log_in, .forgot_password, .sign_up_account, .login_confirm, .sign_up
    padding-top: 4vh
    max-width: 290px 
  .login_confirm, .forgot_password, .sign_up, .sign_up_confirm_ip.login_confirm
    max-width: 320px  
  .apps
    flex-direction: column
    margin: auto
    img
      width: 175px
  .sign_up_account
    max-width: 100%
  .login_confirm button
    max-width: 100%
  .sign_up
    ul
      flex-direction: row
      align-self: auto
      li
        margin: 0
        p
          font-size: 13px  

  .sign_up__
    &first
      ul
        li:nth-child(1)
          flex-basis: 60%  
        li:nth-child(2), li:nth-child(3)
          flex-basis: 20%
          p
            display: none
    &second
      ul
        li:nth-child(2)
            flex-basis: 60% 
        li:nth-child(1), li:nth-child(3)
          flex-basis: 20%
          p
            display: none
      form  
        button
          max-width: 255px
    &third
      ul
        li:nth-child(3)
            flex-basis: 60% 
        li:nth-child(1), li:nth-child(2)
          flex-basis: 20%
          p
            display: none                            
   

    